@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-table {
    @apply w-full;

    th {
      line-height: 1.5rem;
      letter-spacing: 0.01071em;
      display: table-cell;
      vertical-align: inherit;
      border-bottom: 1px solid rgb(49, 48, 48);
      text-align: left;
      color: rgb(255, 255, 255);
      font-family: inherit;
      padding: 12px 20px 12px 0px;
      border-top-color: rgb(49, 48, 48);
      border-right-color: rgb(49, 48, 48);
      border-left-color: rgb(49, 48, 48);
      font-weight: 600;
      font-size: 0.75rem;
    }

    th:first-of-type {
      padding-left: 20px;
    }

    tr {
      @apply bg-black;
    }

    tr:last-of-type td {
      @apply border-b-0;
    }

    td {
      font-weight: 400;
      font-size: 0.875rem;
      letter-spacing: 0.01071em;
      display: table-cell;
      vertical-align: inherit;
      border-bottom: 1px solid rgb(49, 48, 48);
      text-align: left;
      color: rgb(255, 255, 255);
      font-family: inherit;
      padding: 12px 20px 12px 0px;
      border-top-color: rgb(49, 48, 48);
      border-right-color: rgb(49, 48, 48);
      border-left-color: rgb(49, 48, 48);
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    td:first-of-type {
      padding-left: 20px;
    }
  }
}
.announcement-bar {
  background-color: #000;
  color: #dadada;
  font-size: 12px;
  border-bottom: 0.5px solid #3e3e3e;
  font-weight: normal;
  padding: 8px;
  position: relative;
  text-align: center;
}

.announcement-message {
  margin: 0;
}

.close-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  height: 20px;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

.close-button:hover {
  cursor: pointer;
}
